node_modules
dist
.git
.gitignore
.env
.env.*
!.env.docker.example
coverage
*.log
.idea
.vscode
README.md
PROGRESS.md
*.md
!prisma/**/*.md
test
e2e
.husky
.editorconfig
.prettierrc
eslint.config.*
jest.config.*
docker-compose*.yml
